Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: Bill Murrin <bill@billmurrin.com>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
